<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.paradise.core.mapper.PmDbMapper">
  <resultMap id="BaseResultMap" type="com.paradise.core.model.PmDb">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="type" jdbcType="CHAR" property="type" />
    <result column="version" jdbcType="VARCHAR" property="version" />
    <result column="ip_addr" jdbcType="CHAR" property="ipAddr" />
    <result column="ip_addr_public" jdbcType="CHAR" property="ipAddrPublic" />
    <result column="is_public" jdbcType="INTEGER" property="isPublic" />
    <result column="server_id" jdbcType="BIGINT" property="serverId" />
    <result column="domain_addr" jdbcType="VARCHAR" property="domainAddr" />
    <result column="port" jdbcType="INTEGER" property="port" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="user_name" jdbcType="CHAR" property="userName" />
    <result column="password" jdbcType="CHAR" property="password" />
    <result column="enable" jdbcType="INTEGER" property="enable" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="create_at" jdbcType="TIMESTAMP" property="createAt" />
    <result column="update_at" jdbcType="TIMESTAMP" property="updateAt" />
    <result column="create_by" jdbcType="BIGINT" property="createBy" />
    <result column="update_by" jdbcType="BIGINT" property="updateBy" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, `type`, version, ip_addr, ip_addr_public, is_public, server_id, domain_addr, 
    port, url, user_name, `password`, `enable`, remark, create_at, update_at, create_by, 
    update_by
  </sql>
  <select id="selectByExample" parameterType="com.paradise.core.example.PmDbExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from pm_db
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExampleSelective" parameterType="map" resultMap="BaseResultMap">
    select
    <if test="example != null and example.distinct">
      distinct
    </if>
    <choose>
      <when test="selective != null and selective.length > 0">
        <foreach collection="selective" item="column" separator=",">
          ${column.aliasedEscapedColumnName}
        </foreach>
      </when>
      <otherwise>
        <include refid="Base_Column_List" />
      </otherwise>
    </choose>
    from pm_db
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
    <if test="example != null and example.orderByClause != null">
      order by ${example.orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from pm_db
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectByPrimaryKeySelective" parameterType="map" resultMap="BaseResultMap">
    select
    <choose>
      <when test="selective != null and selective.length > 0">
        <foreach collection="selective" item="column" separator=",">
          ${column.aliasedEscapedColumnName}
        </foreach>
      </when>
      <otherwise>
        <include refid="Base_Column_List" />
      </otherwise>
    </choose>
    from pm_db
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from pm_db
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.paradise.core.example.PmDbExample">
    delete from pm_db
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.paradise.core.model.PmDb">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into pm_db (`type`, version, ip_addr, 
      ip_addr_public, is_public, server_id, 
      domain_addr, port, url, 
      user_name, `password`, `enable`, 
      remark, create_at, update_at, 
      create_by, update_by)
    values (#{type,jdbcType=CHAR}, #{version,jdbcType=VARCHAR}, #{ipAddr,jdbcType=CHAR}, 
      #{ipAddrPublic,jdbcType=CHAR}, #{isPublic,jdbcType=INTEGER}, #{serverId,jdbcType=BIGINT}, 
      #{domainAddr,jdbcType=VARCHAR}, #{port,jdbcType=INTEGER}, #{url,jdbcType=VARCHAR}, 
      #{userName,jdbcType=CHAR}, #{password,jdbcType=CHAR}, #{enable,jdbcType=INTEGER}, 
      #{remark,jdbcType=VARCHAR}, #{createAt,jdbcType=TIMESTAMP}, #{updateAt,jdbcType=TIMESTAMP}, 
      #{createBy,jdbcType=BIGINT}, #{updateBy,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="map">
    <selectKey keyProperty="record.id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into pm_db
    <choose>
      <when test="selective != null and selective.length > 0">
        <foreach close=")" collection="selective" item="column" open="(" separator=",">
          ${column.escapedColumnName}
        </foreach>
      </when>
      <otherwise>
        <trim prefix="(" suffix=")" suffixOverrides=",">
          <if test="record.type != null">
            `type`,
          </if>
          <if test="record.version != null">
            version,
          </if>
          <if test="record.ipAddr != null">
            ip_addr,
          </if>
          <if test="record.ipAddrPublic != null">
            ip_addr_public,
          </if>
          <if test="record.isPublic != null">
            is_public,
          </if>
          <if test="record.serverId != null">
            server_id,
          </if>
          <if test="record.domainAddr != null">
            domain_addr,
          </if>
          <if test="record.port != null">
            port,
          </if>
          <if test="record.url != null">
            url,
          </if>
          <if test="record.userName != null">
            user_name,
          </if>
          <if test="record.password != null">
            `password`,
          </if>
          <if test="record.enable != null">
            `enable`,
          </if>
          <if test="record.remark != null">
            remark,
          </if>
          <if test="record.createAt != null">
            create_at,
          </if>
          <if test="record.updateAt != null">
            update_at,
          </if>
          <if test="record.createBy != null">
            create_by,
          </if>
          <if test="record.updateBy != null">
            update_by,
          </if>
        </trim>
        <trim prefix="(" suffix=")" suffixOverrides="," />
      </otherwise>
    </choose>
    values
    <choose>
      <when test="selective != null and selective.length > 0">
        <foreach close=")" collection="selective" item="column" open="(" separator=",">
          #{record.${column.javaProperty},jdbcType=${column.jdbcType}}
        </foreach>
      </when>
      <otherwise>
        <trim prefix="(" suffix=")" suffixOverrides=",">
          <if test="record.type != null">
            #{record.type,jdbcType=CHAR},
          </if>
          <if test="record.version != null">
            #{record.version,jdbcType=VARCHAR},
          </if>
          <if test="record.ipAddr != null">
            #{record.ipAddr,jdbcType=CHAR},
          </if>
          <if test="record.ipAddrPublic != null">
            #{record.ipAddrPublic,jdbcType=CHAR},
          </if>
          <if test="record.isPublic != null">
            #{record.isPublic,jdbcType=INTEGER},
          </if>
          <if test="record.serverId != null">
            #{record.serverId,jdbcType=BIGINT},
          </if>
          <if test="record.domainAddr != null">
            #{record.domainAddr,jdbcType=VARCHAR},
          </if>
          <if test="record.port != null">
            #{record.port,jdbcType=INTEGER},
          </if>
          <if test="record.url != null">
            #{record.url,jdbcType=VARCHAR},
          </if>
          <if test="record.userName != null">
            #{record.userName,jdbcType=CHAR},
          </if>
          <if test="record.password != null">
            #{record.password,jdbcType=CHAR},
          </if>
          <if test="record.enable != null">
            #{record.enable,jdbcType=INTEGER},
          </if>
          <if test="record.remark != null">
            #{record.remark,jdbcType=VARCHAR},
          </if>
          <if test="record.createAt != null">
            #{record.createAt,jdbcType=TIMESTAMP},
          </if>
          <if test="record.updateAt != null">
            #{record.updateAt,jdbcType=TIMESTAMP},
          </if>
          <if test="record.createBy != null">
            #{record.createBy,jdbcType=BIGINT},
          </if>
          <if test="record.updateBy != null">
            #{record.updateBy,jdbcType=BIGINT},
          </if>
        </trim>
      </otherwise>
    </choose>
  </insert>
  <select id="countByExample" parameterType="com.paradise.core.example.PmDbExample" resultType="java.lang.Long">
    select count(*) from pm_db
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update pm_db
    SET
    <choose>
      <when test="selective != null and selective.length > 0">
        <foreach collection="selective" item="column" separator=",">
          ${column.escapedColumnName} = #{record.${column.javaProperty},jdbcType=${column.jdbcType}}
        </foreach>
      </when>
      <otherwise>
        <trim suffixOverrides=",">
          <if test="record.id != null">
            id = #{record.id,jdbcType=BIGINT},
          </if>
          <if test="record.type != null">
            `type` = #{record.type,jdbcType=CHAR},
          </if>
          <if test="record.version != null">
            version = #{record.version,jdbcType=VARCHAR},
          </if>
          <if test="record.ipAddr != null">
            ip_addr = #{record.ipAddr,jdbcType=CHAR},
          </if>
          <if test="record.ipAddrPublic != null">
            ip_addr_public = #{record.ipAddrPublic,jdbcType=CHAR},
          </if>
          <if test="record.isPublic != null">
            is_public = #{record.isPublic,jdbcType=INTEGER},
          </if>
          <if test="record.serverId != null">
            server_id = #{record.serverId,jdbcType=BIGINT},
          </if>
          <if test="record.domainAddr != null">
            domain_addr = #{record.domainAddr,jdbcType=VARCHAR},
          </if>
          <if test="record.port != null">
            port = #{record.port,jdbcType=INTEGER},
          </if>
          <if test="record.url != null">
            url = #{record.url,jdbcType=VARCHAR},
          </if>
          <if test="record.userName != null">
            user_name = #{record.userName,jdbcType=CHAR},
          </if>
          <if test="record.password != null">
            `password` = #{record.password,jdbcType=CHAR},
          </if>
          <if test="record.enable != null">
            `enable` = #{record.enable,jdbcType=INTEGER},
          </if>
          <if test="record.remark != null">
            remark = #{record.remark,jdbcType=VARCHAR},
          </if>
          <if test="record.createAt != null">
            create_at = #{record.createAt,jdbcType=TIMESTAMP},
          </if>
          <if test="record.updateAt != null">
            update_at = #{record.updateAt,jdbcType=TIMESTAMP},
          </if>
          <if test="record.createBy != null">
            create_by = #{record.createBy,jdbcType=BIGINT},
          </if>
          <if test="record.updateBy != null">
            update_by = #{record.updateBy,jdbcType=BIGINT},
          </if>
        </trim>
      </otherwise>
    </choose>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update pm_db
    set id = #{record.id,jdbcType=BIGINT},
      `type` = #{record.type,jdbcType=CHAR},
      version = #{record.version,jdbcType=VARCHAR},
      ip_addr = #{record.ipAddr,jdbcType=CHAR},
      ip_addr_public = #{record.ipAddrPublic,jdbcType=CHAR},
      is_public = #{record.isPublic,jdbcType=INTEGER},
      server_id = #{record.serverId,jdbcType=BIGINT},
      domain_addr = #{record.domainAddr,jdbcType=VARCHAR},
      port = #{record.port,jdbcType=INTEGER},
      url = #{record.url,jdbcType=VARCHAR},
      user_name = #{record.userName,jdbcType=CHAR},
      `password` = #{record.password,jdbcType=CHAR},
      `enable` = #{record.enable,jdbcType=INTEGER},
      remark = #{record.remark,jdbcType=VARCHAR},
      create_at = #{record.createAt,jdbcType=TIMESTAMP},
      update_at = #{record.updateAt,jdbcType=TIMESTAMP},
      create_by = #{record.createBy,jdbcType=BIGINT},
      update_by = #{record.updateBy,jdbcType=BIGINT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="map">
    update pm_db
    SET
    <choose>
      <when test="selective != null and selective.length > 0">
        <foreach collection="selective" item="column" separator=",">
          ${column.escapedColumnName} = #{record.${column.javaProperty},jdbcType=${column.jdbcType}}
        </foreach>
      </when>
      <otherwise>
        <trim suffixOverrides=",">
          <if test="record.type != null">
            `type` = #{record.type,jdbcType=CHAR},
          </if>
          <if test="record.version != null">
            version = #{record.version,jdbcType=VARCHAR},
          </if>
          <if test="record.ipAddr != null">
            ip_addr = #{record.ipAddr,jdbcType=CHAR},
          </if>
          <if test="record.ipAddrPublic != null">
            ip_addr_public = #{record.ipAddrPublic,jdbcType=CHAR},
          </if>
          <if test="record.isPublic != null">
            is_public = #{record.isPublic,jdbcType=INTEGER},
          </if>
          <if test="record.serverId != null">
            server_id = #{record.serverId,jdbcType=BIGINT},
          </if>
          <if test="record.domainAddr != null">
            domain_addr = #{record.domainAddr,jdbcType=VARCHAR},
          </if>
          <if test="record.port != null">
            port = #{record.port,jdbcType=INTEGER},
          </if>
          <if test="record.url != null">
            url = #{record.url,jdbcType=VARCHAR},
          </if>
          <if test="record.userName != null">
            user_name = #{record.userName,jdbcType=CHAR},
          </if>
          <if test="record.password != null">
            `password` = #{record.password,jdbcType=CHAR},
          </if>
          <if test="record.enable != null">
            `enable` = #{record.enable,jdbcType=INTEGER},
          </if>
          <if test="record.remark != null">
            remark = #{record.remark,jdbcType=VARCHAR},
          </if>
          <if test="record.createAt != null">
            create_at = #{record.createAt,jdbcType=TIMESTAMP},
          </if>
          <if test="record.updateAt != null">
            update_at = #{record.updateAt,jdbcType=TIMESTAMP},
          </if>
          <if test="record.createBy != null">
            create_by = #{record.createBy,jdbcType=BIGINT},
          </if>
          <if test="record.updateBy != null">
            update_by = #{record.updateBy,jdbcType=BIGINT},
          </if>
        </trim>
      </otherwise>
    </choose>
    where id = #{record.id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.paradise.core.model.PmDb">
    update pm_db
    set `type` = #{type,jdbcType=CHAR},
      version = #{version,jdbcType=VARCHAR},
      ip_addr = #{ipAddr,jdbcType=CHAR},
      ip_addr_public = #{ipAddrPublic,jdbcType=CHAR},
      is_public = #{isPublic,jdbcType=INTEGER},
      server_id = #{serverId,jdbcType=BIGINT},
      domain_addr = #{domainAddr,jdbcType=VARCHAR},
      port = #{port,jdbcType=INTEGER},
      url = #{url,jdbcType=VARCHAR},
      user_name = #{userName,jdbcType=CHAR},
      `password` = #{password,jdbcType=CHAR},
      `enable` = #{enable,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR},
      create_at = #{createAt,jdbcType=TIMESTAMP},
      update_at = #{updateAt,jdbcType=TIMESTAMP},
      create_by = #{createBy,jdbcType=BIGINT},
      update_by = #{updateBy,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectOneByExample" parameterType="com.paradise.core.example.PmDbExample" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from pm_db
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    limit 1
  </select>
  <select id="selectOneByExampleSelective" parameterType="map" resultMap="BaseResultMap">
    select
    <choose>
      <when test="selective != null and selective.length > 0">
        <foreach collection="selective" item="column" separator=",">
          ${column.aliasedEscapedColumnName}
        </foreach>
      </when>
      <otherwise>
        <include refid="Base_Column_List" />
      </otherwise>
    </choose>
    from pm_db
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
    <if test="example != null and example.orderByClause != null">
      order by ${example.orderByClause}
    </if>
    limit 1
  </select>
  <insert id="batchInsert" keyColumn="id" keyProperty="id" parameterType="map" useGeneratedKeys="true">
    insert into pm_db
    (`type`, version, ip_addr, ip_addr_public, is_public, server_id, domain_addr, port, 
      url, user_name, `password`, `enable`, remark, create_at, update_at, create_by, 
      update_by)
    values
    <foreach collection="list" item="item" separator=",">
      (#{item.type,jdbcType=CHAR}, #{item.version,jdbcType=VARCHAR}, #{item.ipAddr,jdbcType=CHAR}, 
        #{item.ipAddrPublic,jdbcType=CHAR}, #{item.isPublic,jdbcType=INTEGER}, #{item.serverId,jdbcType=BIGINT}, 
        #{item.domainAddr,jdbcType=VARCHAR}, #{item.port,jdbcType=INTEGER}, #{item.url,jdbcType=VARCHAR}, 
        #{item.userName,jdbcType=CHAR}, #{item.password,jdbcType=CHAR}, #{item.enable,jdbcType=INTEGER}, 
        #{item.remark,jdbcType=VARCHAR}, #{item.createAt,jdbcType=TIMESTAMP}, #{item.updateAt,jdbcType=TIMESTAMP}, 
        #{item.createBy,jdbcType=BIGINT}, #{item.updateBy,jdbcType=BIGINT})
    </foreach>
  </insert>
  <insert id="batchInsertSelective" keyColumn="id" keyProperty="list.id" parameterType="map" useGeneratedKeys="true">
    insert into pm_db (
    <foreach collection="selective" item="column" separator=",">
      ${column.escapedColumnName}
    </foreach>
    )
    values
    <foreach collection="list" item="item" separator=",">
      (
      <foreach collection="selective" item="column" separator=",">
        <if test="'type'.toString() == column.value">
          #{item.type,jdbcType=CHAR}
        </if>
        <if test="'version'.toString() == column.value">
          #{item.version,jdbcType=VARCHAR}
        </if>
        <if test="'ip_addr'.toString() == column.value">
          #{item.ipAddr,jdbcType=CHAR}
        </if>
        <if test="'ip_addr_public'.toString() == column.value">
          #{item.ipAddrPublic,jdbcType=CHAR}
        </if>
        <if test="'is_public'.toString() == column.value">
          #{item.isPublic,jdbcType=INTEGER}
        </if>
        <if test="'server_id'.toString() == column.value">
          #{item.serverId,jdbcType=BIGINT}
        </if>
        <if test="'domain_addr'.toString() == column.value">
          #{item.domainAddr,jdbcType=VARCHAR}
        </if>
        <if test="'port'.toString() == column.value">
          #{item.port,jdbcType=INTEGER}
        </if>
        <if test="'url'.toString() == column.value">
          #{item.url,jdbcType=VARCHAR}
        </if>
        <if test="'user_name'.toString() == column.value">
          #{item.userName,jdbcType=CHAR}
        </if>
        <if test="'password'.toString() == column.value">
          #{item.password,jdbcType=CHAR}
        </if>
        <if test="'enable'.toString() == column.value">
          #{item.enable,jdbcType=INTEGER}
        </if>
        <if test="'remark'.toString() == column.value">
          #{item.remark,jdbcType=VARCHAR}
        </if>
        <if test="'create_at'.toString() == column.value">
          #{item.createAt,jdbcType=TIMESTAMP}
        </if>
        <if test="'update_at'.toString() == column.value">
          #{item.updateAt,jdbcType=TIMESTAMP}
        </if>
        <if test="'create_by'.toString() == column.value">
          #{item.createBy,jdbcType=BIGINT}
        </if>
        <if test="'update_by'.toString() == column.value">
          #{item.updateBy,jdbcType=BIGINT}
        </if>
      </foreach>
      )
    </foreach>
  </insert>
</mapper>